body
{
    margin-left: 13.6em;
    padding: .3em;
    max-width: 40em; 
    text-align: justify;
    hyphens: auto;
    font-family: "Aleo Light", serif;
}

#toc
{
    display: block;
    margin-left: -13.3em;
    width: 12em;
    padding: .3em;
    height: 100%;
    position: fixed;
    font-family: "Lato Light", sans-serif;
}

code, tt { font-family: "Iosevka Slab Extralight", monospace; font-size: 90%; color: darkgreen; }
em { font-style: normal; color: darkred; }

a:link, a:visited { color: navy; text-decoration: none; }

#toc .h2, #toc .h3 { display: none; }
#toc .expanded .h2 { display: block; }
#toc li {
    width: 12em;
    display: block; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#toc ol { padding-inline-start: 1em; display: block; }
div ol, div ul { margin-block-start: .7ex; margin-block-end: 1.4ex; }

table { margin: auto; margin-top: 6pt; margin-bottom: 6pt; border-collapse: collapse; }
.center { text-align: center; margin-top: 6pt; margin-bottom: 6pt; }
h1, h2, h3 { font-family: "Aleo Regular"; font-weight: normal; }
h3 { display: inline; font-size: 100%; }
div { padding-bottom: .7ex; }
pre { padding-top: 0; padding-bottom: .7ex; margin-top: .7ex; margin-bottom: .7ex; }

.hrule { border-top: 1px solid black; }
.vrule { border-left: 1px solid black; }
.even { table-layout: fixed; width: 90%; }

/* Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org> */

.hljs {
  display: block;
  overflow-x: auto;
}

/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-family: "Iosevka Slab Light";
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-family: "Iosevka Slab Light";
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-family: "Iosevka Slab Light";
}
